# API配置
NEXT_PUBLIC_API_URL=http://your-api-domain/api
SERVER_API_URL=http://your-api-domain/api
NEXT_PUBLIC_API_TIMEOUT=10000
# 网站URL/本地开发服务器地址/本地端点地址
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# 其他配置
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# 运行环境
NODE_ENV=development

# Auth.js 配置
AUTH_SECRET="your-auth-secret-key"
NEXTAUTH_SECRET="your-nextauth-secret-key"

# Google OAuth 配置
AUTH_GOOGLE_ID="your-google-oauth-client-id"
AUTH_GOOGLE_SECRET="your-google-oauth-client-secret"

# MongoDB 配置
MONGODB_URI="your-mongodb-connection-string"

# NextAuth URL 配置
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

# Resend API密钥
RESEND_API_KEY="your-resend-api-key"
# 是否启用邮件通知
ENABLE_CONTACT_EMAIL_NOTIFICATION=false
# 管理员邮箱
ADMIN_EMAIL="admin@oohunt.com"

# 分析工具配置
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_MS_CLARITY_ID=""
NEXT_PUBLIC_BING_WEBMASTER_ID=""
NEXT_PUBLIC_IMPACT_SITE_VERIFICATION=""
# VigLink配置
NEXT_PUBLIC_VIGLINK_KEY=
#Cloudflare R2配置
CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=image
R2_PUBLIC_URL=https://	

# 为测试目的，可以使用临时值
# 这样API会返回模拟成功，但不会真正上传文件
R2_TEST_MODE=false
