public-hoist-pattern[]=*@heroui/*
package-lock=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*bcrypt*
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
shamefully-hoist=true
unsafe-perm=true